/* About.css */

.about {
    padding: 2rem;

}

.about-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.about-description {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.about-subtitle {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.academic-profile {
    list-style-type: disc;
    padding-left: 20px;
    font-size: 1.1rem;
    line-height: 1.5;
}
